[Desktop Entry]
Version=1.0
Type=Application
Name=Package Installer
Comment=Install system updates and local packages for Bodhi Linux
Exec=bodhi-update-manager %f
Icon=bodhi-update-manager
Terminal=false
MimeType=application/vnd.debian.binary-package;
Categories=System;PackageManager;
StartupNotify=true

# Optional but recommended polish
NoDisplay=false

# Optional but recommended polish
NoDisplay=false
